<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en" ng-app="demo">
    <head>
        <meta charset="utf-8">
        <title>AngularJS br-cidades-estados</title>
         <link rel="stylesheet" href="assets/css/style.min.css">
        <link rel="stylesheet" href="assets/css/foundation.css">     
        <link rel="stylesheet" href="assets/css/font-awesome.min.css">  
        
    </head>

<body>

        
    <section id="" ng-controller="DemoController as vm">            
        <div class="row">
            
                
                <form name="" class="">
                    <div class="form-group">
                        <div class="col-sm-12">
                            {{selectedState}}
                            <select id="select-state" ng-model="selectedState" ng-change="vm.buscarCidadesPorSigla(selectedState)">
                                <option value="">Escolha um Estado</option>
                                <option ng-repeat="state in vm.states" ng-value="state.sigla">
                                    {{state.nome}}
                                </option>
                            </select>
                            <select id="select-city" ng-model="selectedCity">
                                <option value="">Escolha uma Cidade</option>
                                <option ng-repeat="city in vm.cities" ng-value="city">
                                    {{city}}
                                </option>
                            </select>
                            <br/>
                            <p class="help-inline">
                                <span id="span-state"><strong>State: {{selectedState | descricaoEstado}} </strong></span>
                                <br/>
                                <span id="span-city"><strong>City: {{selectedCity}} </strong></span>
                            </p>
                        </div>
                    </div>
                </form>
            
        </div>
    </section>

    <script src="assets/js/script.min.js"></script>
    <script src="assets/js/vendor/jquery.js"></script>
    <script src="assets/js/vendor/what-input.js"></script>
    <script src="assets/js/vendor/foundation.js"></script>
    <script src="assets/js/vendor/modernizr.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js"></script>
    <script src="assets/js/vendor/cidades-estados.js"></script>

    </body>
</html>